
$primary: #f1e6e2;
$pink: #F5BCBA;
$secondary: #ED585A;
$yellow: #ffc107;
$fontcolor: #2A2547;

$font:"halyard display",calibri light, sans-serif;
$bigfont-size: 55px ;
$smallfont-size: 35px ;

@import "../node_modules/bootstrap/scss/bootstrap";
body {
  background: $primary;
}
h1, h2, h3, h4, h5, p, li{
  font-family: $font;
}

nav {
    background-color: $primary;
    color: $fontcolor;
  .navbar-light .navbar-nav .nav-link {
    font-family: $font;
    color: $fontcolor!important;
  }
  .navbar-toggler {
    border-color: transparent;
  }
  .navbar-brand {
    font-family: $font;
  }
  #navbarNav {
    justify-content: flex-end;
  }
}

.statistikkode {
  h4 {
    font-size: 24px;
    font-weight: 400;
    padding-right: 10px;
  }
  .programmer-kode {
    .progress {
      height: 5rem;
      font-size: 0.85rem;
      background-color: $pink;
      .progress-bar {
        background: $secondary;
        color: white;
        font-family: $font;
        height: 20px;
      }
    }
  }
}

.om-mig2 {
  .edu {
      color: $fontcolor;
    ul {
      margin: 0 25px 25px 25px;
      border-left: 4px solid $yellow;
      padding: 40px 0 10px 14px;

      li {
        font-size: 18px;
        color: $fontcolor;
        padding-bottom: 10px;
      }
    }
  }
}